.fantasma{
    position: relative;
    width: 20px;
    height: 60px;
    background-color: purple;
    color: white;
    padding: 5px 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    animation: mover 2s ease;
}

@keyframes mover {
    0%{
top: 0; left: 0;
    }

    25%{
        top: 0; left: 500px;
    }

    50%{
        top:200px; left: 500px;
    }

    65%{
        top: 400px; left: 800px;
    }

    100%{
top: 200px; left: 500px; 
    }
    
}
